.link-item {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-size: contain;
  flex-grow: 1;
}

.job-item {
  display: flex;
  flex-direction: column;
  background-color: #272727;
  padding: 20px;
  border-radius: 8px;
  margin-top: 18px;
}

.logo-container {
  display: flex;
}

.title {
  color: #ffffff;
  flex-wrap: wrap;
  font-size: 20px;
}

.items-details-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-top: 20px;
}

.title-container {
  display: flex;
  flex-direction: column;

  line-height: 1px;
  margin-left: 15px;
}

.rating-container {
  display: flex;
  flex-direction: row;
}
.star-icon {
  color: #fbbf24;
  margin-top: 15px;
}
.rating {
  margin-left: 5px;
  color: #ffffff;
}

.desc-head {
  font-size: 20px;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.about-details {
  display: flex;
}

.text {
  color: #f1f5f9ce;
  margin-top: -1px;
  margin-left: 8px;
  font-weight: 400;
}

.location-icon {
  color: #ffffff;
  font-size: 20px;
  margin-left: 8px;
}
.pack-text {
  color: #ffffff;
}

.line {
  color: #f1f5f9;
  width: 100%;
}
.head-cont {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180%;
  background-size: cover;
}
.head-container {
  display: flex;
  flex-direction: row;
}

.head-2nd-container {
  width: 100%;
  overflow: auto;
}
