.all-anime-container {
  display: flex;
  flex-direction: column;
  background-color: #000000;
  align-items: center;
  justify-content: center;
}
.all-anime {
  width: 100%;
  display: flex;
  overflow: auto;
  background-size: cover;
  margin-right: 40px;
}

.products-heading {
  color: #475569;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
}
.anime-error-view-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.loader-container {
  display: flex;
  height: 100vh;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.no-products-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 64px;
  margin-top: 48px;
}

@media screen and (min-width: 768px) {
  .no-products-view {
    margin-left: 30px;
    width: 70%;
    padding-bottom: 0;
    margin-top: 0px;
  }
}

.no-products-img {
  width: 250px;
  height: 180px;
}

@media screen and (min-width: 768px) {
  .no-products-img {
    width: 459px;
    height: 315px;
  }
}

.no-products-heading {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  line-height: 1.3px;
}

@media screen and (min-width: 768px) {
  .no-products-heading {
    margin-top: 32px;
    font-size: 24px;
  }
}

.no-products-description {
  text-align: center;
  color: #64748b;
  font-family: 'Roboto';
  font-size: 14px;
  width: 90%;
  max-width: 288px;
  line-height: 1.3;
}

@media screen and (min-width: 768px) {
  .no-products-description {
    margin-top: 12px;
    font-size: 18px;
    width: 60%;
    max-width: 466px;
  }
}

@media screen and (min-width: 768px) {
  .products-failure-img {
    width: 400px;
    height: 350px;
  }
}

.search-container {
  border-radius: 5px;
  display: flex;
  background-size: cover;
  margin-top: 20px;
  flex-wrap: nowrap;
  width: 500px;
  height: 35px;
  border: 1px solid #f1f5f9;
  background-color: #000000;
  align-self: center;
  justify-content: space-between;
}
.search-input {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
}
.seac-btn {
  border: none;
  cursor: pointer;
  background-color: #272727;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-icon {
  color: #ffffff;
  font-size: 20px;
  display: flex;
  margin-left: 8px;
}
.line {
  color: #f1f5f9;
}
.drop {
  width: 30% !important;
  font-family: Roboto !important;
  border-right: #ffffff 1px solid;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
